.upper{
    background-color: rgb(240, 242, 246);
    color: black;
    margin: 30px;
}
.myform1{
  
  
    margin-left: 100px;
    padding: 10px;
   
    width: 500px;
}
body{
    color:black;
}
p{
    text-align: center;
    padding: 20px;
}
h1{
    text-align: center;
}




.container{
    background-color: rgb(57, 160, 158);
    margin-top: 0px;
    padding-bottom: 10px;
    width: 60%;
    margin: auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  

}
/* .main{
    width: 60%;
margin-bottom: auto;

    margin-left: 28%;
}
h1{
    font-size: 35px;
    margin-bottom: 20px;

}
.forgotpassword{
    color: rgb(173, 199, 247);
}
input{
    margin-top: 10px;
}
.long{

    height: 30px;
     width: 470px;

}
.names input{
    margin-right: 5px;
    width: 226px;
    height: 30px;
}
.date input{
width: 50px;
height: 25px;
margin-right:auto;
}
.date{
    display: grid;
    grid-template-columns: repeat(2,1fr);
   
    width: 400px;
 
}
.name{
 
} */
